.logo-text {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 3em;
    color: #84d1a6;
    transition: 150ms;
    transition-timing-function: ease-in-out;
}

.logo-text:hover {
    color: #667c7c;
}

a {
    color: #667c7c;
}

.main-text {
    font-size: 2em;
    color: black;
    font-family: 'Philosopher', sans-serif;
}

#facebook-svg, #twitter-svg, #github-svg  {
    transition: 200ms;
    transition-timing-function: ease-in-out;
    fill: #84d1a6 !important;
    width: 50px;
    height: 50px;
}

#twitter-svg:hover, #facebook-svg:hover, #github-svg:hover {
    fill: #667c7c !important;
}

.nav-item {
    margin-right: 15px;
}
